<!DOCTYPE html>
<html>
  <head>
    <title>InOut</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <fieldset>
    <legend> Controller: <%= params[:controller] %>, Action: <%= params[:action] %> </legend>
    <%= yield %>
    </fieldset>
  </body>
</html>
